@import 'tailwindcss';

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans-VariableFont_wdth,wght.ttf')
		format('truetype');
	font-style: normal;
	font-weight: 300 800;
	font-stretch: 75% 100%;
	font-display: swap;
}

@theme {
	--font-sans: 'Open Sans', ui-sans-serif, system-ui, sans-serif;
	--color-dark: #1f1d1d;
	--color-light: #f5f4f4;
	--color-accent: #c94747;
	--color-custom-gray: rgb(165, 164, 164);
	--tracking-heading: 2.5px;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
	font-family: var(--font-sans);
}

.logo {
	@apply text-light font-light tracking-heading text-xl;
}

.logo-subtitle {
	@apply text-light font-semibold text-sm;
}
