---
import { getLangFromUrl } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
---

<a href={`/${lang}`} class='flex flex-col items-start gap-0 leading-none'>
	<span class='logo'>DOMINIK FRACKOWIAK</span>
	<span class='logo-subtitle -mt-0.5'>Web Developer</span>
</a>
