---
import { getLangFromUrl } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
---

<a href={`/${lang}`} class='flex flex-col items-start gap-[4px] leading-none'>
	<span class='logo'>DOMINIK FRACKOWIAK</span>
	<span class='logo-subtitle'>Web Developer</span>
</a>
